$action-blue: #4169e1;
$white: #ffffff;
$link-color: #0000ff;
$darkest: #384250;
$lightest: #99b5dc;
$mid-light: #6d819d;
$mid-mid: #647690;
$mid-dark: #526176;
$small: 400px;
$medium: 550px;

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.btn {
    padding: 12px 18px;
    margin: 5px;
    font-size: 14px;
    background-color: $lightest;
    border: 1px solid $action-blue;
    color: $action-blue;
    border-radius: 20px;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
.actionbtn {
    @extend .btn;
    border: none;
    color: $white;
    background-color: $action-blue;
}
.disablebtn {
    @extend.btn;
    border: $mid-light;
    color: $lightest;
    background-color: $mid-light;
    opacity: .5;
}
.link {
    color: $link-color;
    text-decoration: none;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid $mid-mid;
    border-radius: 5px;
}
